*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: bisque;
    text-align: center;
}

h1{
    margin-bottom: 3rem;
    color: blueviolet;
}

p{
    height: 20vh;
    width: 50vw;
    margin: auto;
    color: rgb(32, 66, 66);
}